/* 
 * vim: ts=2 sw=2 et ft=css
 */ 

html { 
    background: url('https://0x29a.ch/_img/ft.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
  font-family: 'Oswald', sans-serif; text-transform: uppercase;
  color: white;
}

p {
  font-family: 'Roboto', sans-serif; 
  color: white;
  padding: 10px 0px 0px 0px;
}

#quotes-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -340px;
}

.quotes {
  display: hidden;
}
